:root {
  --dark: hsl(210, 50%, 0%);
  --median: hsl(210, 50%, 25%);
  --light: hsl(210, 50%, 100%);
}

body, html {
  background: var(--dark);
  color: var(--light);
}

a {
  color: var(--median);
}

a:hover {
  color: var(--median);
  text-decoration: none;
}

svg {
  fill: currentColor;
}