@import 'https://api.fontshare.com/v2/css?f[]=archivo@701,401,700,500,501,400,600,601&f[]=tabular@400&display=swap';

body {
  background-color: black;
  color: var(--day-1);
  font-family: 'Archivo', sans-serif;
}

a {
  color: inherit;
}

a:hover {
  opacity: 1;
}

.grid a:nth-child(3n) > .card {
  border: 0
}

.code, code {
  font-family: 'Tabular', monospace;
}

.preview {
  margin-bottom: -1px;
  padding: 1rem;
  background: var(--gray-100);
  color: var(--gray-0);
  display: block;
  overflow: auto;
}
.preview a {
  color: var(--blue-4);
  text-decoration: none;
}
.preview a:hover {
  text-decoration: underline
}
@media (max-width: 60em) {
  .grid a:nth-child(2n) > .card {
    border: 0
  }
  .grid a:nth-child(3n) > .card {
    border-right: 1px solid var(--gray-15)
  }
}